# Springboard Data Science Career Track Unit 4 Challenge - Tier 3 Complete

## Objectives
Hey! Great job getting through those challenging DataCamp courses. You're learning a lot in a short span of time. 

In this notebook, you're going to apply the skills you've been learning, bridging the gap between the controlled environment of DataCamp and the *slightly* messier work that data scientists do with actual datasets!

Here’s the mystery we’re going to solve: ***which boroughs of London have seen the greatest increase in housing prices, on average, over the last two decades?***


A borough is just a fancy word for district. You may be familiar with the five boroughs of New York… well, there are 32 boroughs within Greater London [(here's some info for the curious)](https://en.wikipedia.org/wiki/London_boroughs). Some of them are more desirable areas to live in, and the data will reflect that with a greater rise in housing prices.

***This is the Tier 3 notebook, which means it's not filled in at all: we'll just give you the skeleton of a project, the brief and the data. It's up to you to play around with it and see what you can find out! Good luck! If you struggle, feel free to look at easier tiers for help; but try to dip in and out of them, as the more independent work you do, the better it is for your learning!***

This challenge will make use of only what you learned in the following DataCamp courses: 
- Prework courses (Introduction to Python for Data Science, Intermediate Python for Data Science)
- Data Types for Data Science
- Python Data Science Toolbox (Part One) 
- pandas Foundations
- Manipulating DataFrames with pandas
- Merging DataFrames with pandas

Of the tools, techniques and concepts in the above DataCamp courses, this challenge should require the application of the following: 
- **pandas**
    - **data ingestion and inspection** (pandas Foundations, Module One) 
    - **exploratory data analysis** (pandas Foundations, Module Two)
    - **tidying and cleaning** (Manipulating DataFrames with pandas, Module Three) 
    - **transforming DataFrames** (Manipulating DataFrames with pandas, Module One)
    - **subsetting DataFrames with lists** (Manipulating DataFrames with pandas, Module One) 
    - **filtering DataFrames** (Manipulating DataFrames with pandas, Module One) 
    - **grouping data** (Manipulating DataFrames with pandas, Module Four) 
    - **melting data** (Manipulating DataFrames with pandas, Module Three) 
    - **advanced indexing** (Manipulating DataFrames with pandas, Module Four) 
- **matplotlib** (Intermediate Python for Data Science, Module One)
- **fundamental data types** (Data Types for Data Science, Module One) 
- **dictionaries** (Intermediate Python for Data Science, Module Two)
- **handling dates and times** (Data Types for Data Science, Module Four)
- **function definition** (Python Data Science Toolbox - Part One, Module One)
- **default arguments, variable length, and scope** (Python Data Science Toolbox - Part One, Module Two) 
- **lambda functions and error handling** (Python Data Science Toolbox - Part One, Module Four)

## The Data Science Pipeline

This is Tier Three, so we'll get you started. But after that, it's all in your hands! When you feel done with your investigations, look back over what you've accomplished, and prepare a quick presentation of your findings for the next mentor meeting. 

Data Science is magical. In this case study, you'll get to apply some complex machine learning algorithms. But as  [David Spiegelhalter](https://www.youtube.com/watch?v=oUs1uvsz0Ok) reminds us, there is no substitute for simply **taking a really, really good look at the data.** Sometimes, this is all we need to answer our question.

Data Science projects generally adhere to the four stages of Data Science Pipeline:
1. Sourcing and loading 
2. Cleaning, transforming, and visualizing 
3. Modeling 
4. Evaluating and concluding

### 1. Sourcing and Loading 

Any Data Science project kicks off by importing  ***pandas***. The documentation of this wonderful library can be found [here](https://pandas.pydata.org/). As you've seen, pandas is conveniently connected to the [Numpy](http://www.numpy.org/) and [Matplotlib](https://matplotlib.org/) libraries. 

***Hint:*** This part of the data science pipeline will test those skills you acquired in the pandas Foundations course, Module One.

#### 1.1. Importing Libraries

In [38]:
# Let's import the pandas, numpy libraries as pd, and np respectively. 
import pandas as pd
import numpy as np

# Load the pyplot collection of functions from matplotlib, as plt 
import matplotlib.pyplot as plt

#### 1.2.  Loading the data
Your data comes from the [London Datastore](https://data.london.gov.uk/): a free, open-source data-sharing portal for London-oriented datasets.

In [39]:
# First, make a variable called url_LondonHousePrices, and assign it the following link, enclosed in quotation-marks as a string:
# https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls

url_LondonHousePrices = "https://data.london.gov.uk/download/uk-house-price-index/70ac0766-8902-4eb5-aab5-01951aaed773/UK%20House%20price%20index.xls"

# The dataset we're interested in contains the Average prices of the houses, and is actually on a particular sheet of the Excel file. 
# As a result, we need to specify the sheet name in the read_excel() method.
# Put this data into a variable called properties.  
properties = pd.read_excel(url_LondonHousePrices, sheet_name='Average price', index_col= None)

### 2. Cleaning, transforming, and visualizing
This second stage is arguably the most important part of any Data Science project. The first thing to do is take a proper look at the data. Cleaning forms the majority of this stage, and can be done both before or after Transformation.

The end goal of data cleaning is to have tidy data. When data is tidy: 

1. Each variable has a column.
2. Each observation forms a row.

Keep the end goal in mind as you move through this process, every step will take you closer. 



***Hint:*** This part of the data science pipeline should test those skills you acquired in: 
- Intermediate Python for data science, all modules.
- pandas Foundations, all modules. 
- Manipulating DataFrames with pandas, all modules.
- Data Types for Data Science, Module Four.
- Python Data Science Toolbox - Part One, all modules

In [40]:
properties.head()

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91448.98487,50460.2266,93284.51832,64958.09036,71306.56698,81671.47692,120932.8881,69158.16225,79885.89069,...,43958.48001,44803.42878,45544.52227,48527.52339,56701.5961,74435.76052,64018.87894,54705.1579,NaN,53202.77128
2,1995-02-01,82202.77314,51085.77983,93190.16963,64787.92069,72022.26197,81657.55944,119508.8622,68951.09542,80897.06551,...,43925.42289,44528.80721,46051.57066,49341.29029,56593.59475,72777.93709,63715.02399,54356.14843,NaN,53096.1549
3,1995-03-01,79120.70256,51268.96956,92247.52435,64367.49344,72015.76274,81449.31143,120282.2131,68712.44341,81379.86288,...,44434.8681,45200.46775,45383.82395,49442.17973,56171.18278,73896.84204,64113.60858,53583.07667,NaN,53201.2843
4,1995-04-01,77101.20804,53133.50526,90762.87492,64277.66881,72965.63094,81124.41227,120097.899,68610.04641,82188.90498,...,44267.7796,45614.34341,46124.23045,49455.93299,56567.89582,74455.28754,64623.22395,54786.01938,NaN,53590.8548

**2.1. Exploring your data** 

Think about your pandas functions for checking out a dataframe.

In [41]:
properties.head()

,Unnamed: 0,City of London,Barking & Dagenham,Barnet,Bexley,Brent,Bromley,Camden,Croydon,Ealing,...,NORTH WEST,YORKS & THE HUMBER,EAST MIDLANDS,WEST MIDLANDS,EAST OF ENGLAND,LONDON,SOUTH EAST,SOUTH WEST,Unnamed: 47,England
0,NaT,E09000001,E09000002,E09000003,E09000004,E09000005,E09000006,E09000007,E09000008,E09000009,...,E12000002,E12000003,E12000004,E12000005,E12000006,E12000007,E12000008,E12000009,NaN,E92000001
1,1995-01-01,91448.98487,50460.2266,93284.51832,64958.09036,71306.56698,81671.47692,120932.8881,69158.16225,79885.89069,...,43958.48001,44803.42878,45544.52227,48527.52339,56701.5961,74435.76052,64018.87894,54705.1579,NaN,53202.77128
2,1995-02-01,82202.77314,51085.77983,93190.16963,64787.92069,72022.26197,81657.55944,119508.8622,68951.09542,80897.06551,...,43925.42289,44528.80721,46051.57066,49341.29029,56593.59475,72777.93709,63715.02399,54356.14843,NaN,53096.1549
3,1995-03-01,79120.70256,51268.96956,92247.52435,64367.49344,72015.76274,81449.31143,120282.2131,68712.44341,81379.86288,...,44434.8681,45200.46775,45383.82395,49442.17973,56171.18278,73896.84204,64113.60858,53583.07667,NaN,53201.2843
4,1995-04-01,77101.20804,53133.50526,90762.87492,64277.66881,72965.63094,81124.41227,120097.899,68610.04641,82188.90498,...,44267.7796,45614.34341,46124.23045,49455.93299,56567.89582,74455.28754,64623.22395,54786.01938,NaN,53590.8548

**2.2. Cleaning the data**

You might find you need to transpose your dataframe, check out what its row indexes are, and reset the index. You  also might find you need to assign the values of the first row to your column headings  . (Hint: recall the .columns feature of DataFrames, as well as the iloc[] method).

Don't be afraid to use StackOverflow for help  with this.

In [67]:
properties= properties.transpose()

In [69]:
properties.reset_index()

Unnamed: 0,index,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,892558,911172,952194,953962,975524,859323,910666,908299,978395,1001644
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,347323,350138,353968,356131,352116,344414,343709,350872,353925,347148
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,602339,599296,593031,593804,597651,601278,593957,586289,575131,574285
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,406183,410677,409367,408708,401081,400870,399844,402319,398450,396025
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,577581,569656,564091,553092,549679,535593,529308,532286,531523,541559
6,Bromley,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,...,511648,515335,515073,514007,511298,504830,500870,504246,505519,505758
7,Camden,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,...,859681,853831,845713,852369,853849,863956,854754,878850,854930,880889
8,Croydon,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,...,430992,431354,430179,429255,431242,427751,420323,414731,411490,410784
9,Ealing,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,...,537480,534761,535048,535329,536421,540003,527516,530674,530012,536338
10,Enfield,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,...,454643,460455,459698,458765,449504,443015,439007,440038,442068,440686
11,Greenwich,E09000011,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,...,438733,441238,443226,437097,440351,444917,444186,432943,420529,423153
12,Hackney,E09000012,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,...,648114,645783,644249,626841,622164,617301,636982,631389,637997,626355
13,Hammersmith & Fulham,E09000013,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,...,805518,781816,756795,740378,768102,762548,773086,759008,778723,776673
14,Haringey,E09000014,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,...,612298,611191,613868,606551,609306,598532,597974,592538,599740,609591
15,Harrow,E09000015,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,...,529658,527522,528949,532517,531518,524697,516195,509390,510504,515471
16,Havering,E09000016,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,...,426557,427891,434092,437059,434986,432937,428072,429363,423146,423041
17,Hillingdon,E09000017,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,...,466587,472338,473873,467741,463898,461013,457155,456867,453657,456679
18,Hounslow,E09000018,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,...,455888,456869,461526,453992,463892,464337,462174,456381,443081,452371
19,Islington,E09000019,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,...,735373,729426,717892,704666,697402,683249,683038,690638,699856,696363
20,Kensington & Chelsea,E09000020,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,...,1518741,1402218,1372061,1302797,1354279,1314796,1329311,1296123,1319673,1345057
21,Kingston upon Thames,E09000021,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,...,565571,565672,561930,557685,558210,557683,559848,555863,552969,548379
22,Lambeth,E09000022,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,...,561876,558772,556523,553057,552585,553598,553163,554273,547765,537524
23,Lewisham,E09000023,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,...,465805,461784,461830,469146,464877,463938,456348,458533,445344,449202
24,Merton,E09000024,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,...,584644,576936,579131,574046,568127,572748,570365,581610,576149,588569
25,Newham,E09000025,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,...,412286,414250,423737,423607,423703,416099,405721,407652,412848,419603
26,Redbridge,E09000026,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,...,485244,482974,481995,485955,483766,477337,473174,466652,462405,462679
27,Richmond upon Thames,E09000027,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,...,766569,766331,750781,740876,748654,757128,754648,754723,759776,764021
28,Southwark,E09000028,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,...,557587,556313,560636,554405,557846,546332,534899,524695,529825,546707
29,Sutton,E09000029,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,...,441635,440282,440600,436911,441036,437079,434919,434996,435441,433241
30,Tower Hamlets,E09000030,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,...,480687,485413,493047,495725,495446,496335,491133,494979,494643,485790
31,Waltham Forest,E09000031,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,...,524185,524899,516856,514891,509380,514715,508116,511774,502836,506476
32,Wandsworth,E09000032,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,...,655525,652790,639138,632662,631388,632057,624641,618145,622030,619255
33,Westminster,E09000033,133025.2772,131468.3096,132260.3417,133370.2036,133911.1117,134562.1941,133450.2162,136581.5082,...,986069,975925,1000060,1045668,1057688,1013142,928053,903055,940897,996153
34,Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Inner London,E13000001,78251.9765,75885.70201,76591.59947,76851.56697,79129.19443,79969.1525,80550.47935,80597.64563,...,635744,630414,628538,625153,627126,620747,614361,611508,614222,617955
36,Outer London,E13000002,72958.79836,72937.88262,72714.53478,72591.92469,72752.99414,73189.39978,73665.90517,73691.12888,...,494247,494917,494189,492217,491206,489462,485098,484277,480726,482178
37,Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NORTH EAST,E12000001,42076.35411,42571.98949,42369.72984,42095.8436,43266.45165,42315.34372,43287.74323,41899.05494,...,160629,161084,161652,159123,159969,156638,155151,159809,158187,161034
39,NORTH WEST,E12000002,43958.48001,43925.42289,44434.8681,44267.7796,44223.61973,44112.96432,44109.58764,44193.66583,...,216996,217084,218337,216593,212791,212168,209855,211738,212970,215631
40,YORKS & THE HUMBER,E12000003,44803.42878,44528.80721,45200.46775,45614.34341,44830.98563,45392.63981,45534.99864,45111.45939,...,210738,211056,212108,210349,205589,205740,203302,205012,204662,208867
41,EAST MIDLANDS,E12000004,45544.52227,46051.57066,45383.82395,46124.23045,45878.00396,45679.99539,46037.67312,45922.53585,...,250776,250453,252703,252183,248705,246996,245907,245788,245439,248678
42,WEST MIDLANDS,E12000005,48527.52339,49341.29029,49442.17973,49455.93299,50369.66188,50100.43023,49860.00809,49598.45969,...,252827,254205,253505,252698,251868,253361,243795,245639,248954,250743
43,EAST OF ENGLAND,E12000006,56701.5961,56593.59475,56171.18278,56567.89582,56479.80183,56288.94557,57242.30186,56732.40547,...,358299,357800,360943,357382,353922,355292,350570,347769,346711,351213
44,LONDON,E12000007,74435.76052,72777.93709,73896.84204,74455.28754,75432.02786,75606.24501,75984.24079,75529.34488,...,543873,535999,539606,536577,535789,529715,521321,531282,525327,527979
45,SOUTH EAST,E12000008,64018.87894,63715.02399,64113.60858,64623.22395,64530.36358,65511.008,65224.88465,64851.60429,...,398746,398731,396874,397399,395849,390810,391992,390925,389216,391406
46,SOUTH WEST,E12000009,54705.1579,54356.14843,53583.07667,54786.01938,54698.83831,54420.15939,54265.86368,54365.71495,...,334246,332898,335435,327561,326409,325271,325445,323685,322803,321152
47,Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,England,E92000001,53202.77128,53096.1549,53201.2843,53590.8548,53678.24041,53735.15475,53900.60633,53600.31975,...,311604,311100,312288,309949,307375,305859,302772,304102,303671,306447

**2.3. Cleaning the data (part 2)**

You might we have to **rename** a couple columns. How do you do this? The clue's pretty bold...

In [70]:
properties.columns = properties.iloc[0]

In [71]:
properties.head()

Unnamed: 0,NaT,1995-01-01,1995-02-01,1995-03-01,1995-04-01,1995-05-01,1995-06-01,1995-07-01,1995-08-01,1995-09-01,...,2022-09-01,2022-10-01,2022-11-01,2022-12-01,2023-01-01,2023-02-01,2023-03-01,2023-04-01,2023-05-01,2023-06-01
Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,1995-09-01 00:00:00,...,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00
City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,104473.1096,...,892558,911172,952194,953962,975524,859323,910666,908299,978395,1001644
Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,51471.61353,...,347323,350138,353968,356131,352116,344414,343709,350872,353925,347148
Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,93273.12245,...,602339,599296,593031,593804,597651,601278,593957,586289,575131,574285
Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,64509.54767,...,406183,410677,409367,408708,401081,400870,399844,402319,398450,396025

In [72]:
properties.reset_index()

Unnamed: 0,index,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00
0,Unnamed: 0,NaT,1995-01-01 00:00:00,1995-02-01 00:00:00,1995-03-01 00:00:00,1995-04-01 00:00:00,1995-05-01 00:00:00,1995-06-01 00:00:00,1995-07-01 00:00:00,1995-08-01 00:00:00,...,2022-09-01 00:00:00,2022-10-01 00:00:00,2022-11-01 00:00:00,2022-12-01 00:00:00,2023-01-01 00:00:00,2023-02-01 00:00:00,2023-03-01 00:00:00,2023-04-01 00:00:00,2023-05-01 00:00:00,2023-06-01 00:00:00
1,City of London,E09000001,91448.98487,82202.77314,79120.70256,77101.20804,84409.14932,94900.51244,110128.0423,112329.4376,...,892558,911172,952194,953962,975524,859323,910666,908299,978395,1001644
2,Barking & Dagenham,E09000002,50460.2266,51085.77983,51268.96956,53133.50526,53042.24852,53700.34831,52113.12157,52232.19868,...,347323,350138,353968,356131,352116,344414,343709,350872,353925,347148
3,Barnet,E09000003,93284.51832,93190.16963,92247.52435,90762.87492,90258.00033,90107.23471,91441.24768,92361.31512,...,602339,599296,593031,593804,597651,601278,593957,586289,575131,574285
4,Bexley,E09000004,64958.09036,64787.92069,64367.49344,64277.66881,63997.13588,64252.32335,63722.70055,64432.60005,...,406183,410677,409367,408708,401081,400870,399844,402319,398450,396025
5,Brent,E09000005,71306.56698,72022.26197,72015.76274,72965.63094,73704.04743,74310.48167,74127.03788,73547.0411,...,577581,569656,564091,553092,549679,535593,529308,532286,531523,541559
6,Bromley,E09000006,81671.47692,81657.55944,81449.31143,81124.41227,81542.61561,82382.83435,82898.52264,82054.37156,...,511648,515335,515073,514007,511298,504830,500870,504246,505519,505758
7,Camden,E09000007,120932.8881,119508.8622,120282.2131,120097.899,119929.2782,121887.4625,124027.5768,125529.8039,...,859681,853831,845713,852369,853849,863956,854754,878850,854930,880889
8,Croydon,E09000008,69158.16225,68951.09542,68712.44341,68610.04641,68844.9169,69052.51103,69142.48112,68993.42545,...,430992,431354,430179,429255,431242,427751,420323,414731,411490,410784
9,Ealing,E09000009,79885.89069,80897.06551,81379.86288,82188.90498,82077.05525,81630.66181,82352.2226,82706.65927,...,537480,534761,535048,535329,536421,540003,527516,530674,530012,536338
10,Enfield,E09000010,72514.69096,73155.19746,72190.44144,71442.92235,70630.77955,71348.31147,71837.54011,72237.94562,...,454643,460455,459698,458765,449504,443015,439007,440038,442068,440686
11,Greenwich,E09000011,62300.10169,60993.26863,61377.83464,61927.7246,63512.99103,64751.56404,65486.34112,65076.43195,...,438733,441238,443226,437097,440351,444917,444186,432943,420529,423153
12,Hackney,E09000012,61296.52637,63187.08332,63593.29935,65139.64403,66193.99212,66921.17101,68390.753,68096.79385,...,648114,645783,644249,626841,622164,617301,636982,631389,637997,626355
13,Hammersmith & Fulham,E09000013,124902.8602,122087.718,120635.9467,121424.6241,124433.539,126175.1513,124381.5134,123625.3196,...,805518,781816,756795,740378,768102,762548,773086,759008,778723,776673
14,Haringey,E09000014,76287.56947,78901.21036,78521.94855,79545.57477,79374.0349,79956.3621,80746.34881,81217.69074,...,612298,611191,613868,606551,609306,598532,597974,592538,599740,609591
15,Harrow,E09000015,84769.52599,83396.10525,83416.23759,83567.88439,83853.65615,84173.24689,84226.69844,84430.61796,...,529658,527522,528949,532517,531518,524697,516195,509390,510504,515471
16,Havering,E09000016,68000.13774,69393.51294,69368.02407,69444.26215,68534.52248,68464.60664,68680.83996,69023.36482,...,426557,427891,434092,437059,434986,432937,428072,429363,423146,423041
17,Hillingdon,E09000017,73834.82964,75031.0696,74188.66949,73911.40591,73117.12416,74005.00585,74671.13263,74967.86534,...,466587,472338,473873,467741,463898,461013,457155,456867,453657,456679
18,Hounslow,E09000018,72231.70537,71051.55852,72097.99411,71890.28339,72877.47219,72331.08116,73717.78844,74479.94802,...,455888,456869,461526,453992,463892,464337,462174,456381,443081,452371
19,Islington,E09000019,92516.48557,94342.37334,93465.86407,93344.49305,94346.39917,97428.94311,98976.14077,98951.20791,...,735373,729426,717892,704666,697402,683249,683038,690638,699856,696363
20,Kensington & Chelsea,E09000020,182694.8326,182345.2463,182878.8231,184176.9168,191474.1141,197265.7602,197963.3169,198037.4218,...,1518741,1402218,1372061,1302797,1354279,1314796,1329311,1296123,1319673,1345057
21,Kingston upon Thames,E09000021,80875.84843,81230.13524,81111.48848,81672.80476,82123.51084,82205.66822,82525.793,83342.84552,...,565571,565672,561930,557685,558210,557683,559848,555863,552969,548379
22,Lambeth,E09000022,67770.98843,65381.51908,66336.51868,66388.7716,69035.11076,68881.15764,69608.72242,68840.02827,...,561876,558772,556523,553057,552585,553598,553163,554273,547765,537524
23,Lewisham,E09000023,60491.26109,60869.27091,60288.03002,59471.03136,58551.38387,58041.43543,58126.37811,58151.3154,...,465805,461784,461830,469146,464877,463938,456348,458533,445344,449202
24,Merton,E09000024,82070.6133,79982.74872,80661.68279,79990.54333,80873.98643,80704.92667,81055.90335,80781.09186,...,584644,576936,579131,574046,568127,572748,570365,581610,576149,588569
25,Newham,E09000025,53539.31919,53153.88306,53458.26393,54479.75395,55803.95958,56067.76986,55458.31693,54709.35467,...,412286,414250,423737,423607,423703,416099,405721,407652,412848,419603
26,Redbridge,E09000026,72189.58437,72141.6261,72501.35502,72228.60295,72366.64122,72279.4325,72880.83974,73275.16891,...,485244,482974,481995,485955,483766,477337,473174,466652,462405,462679
27,Richmond upon Thames,E09000027,109326.1245,111103.0394,107325.4742,106875,107707.6799,112865.0542,114656.6011,112320.4096,...,766569,766331,750781,740876,748654,757128,754648,754723,759776,764021
28,Southwark,E09000028,67885.20344,64799.0648,65763.29719,63073.62117,64420.49933,64155.81449,67024.74767,65525.94434,...,557587,556313,560636,554405,557846,546332,534899,524695,529825,546707
29,Sutton,E09000029,71536.97357,70893.20851,70306.83844,69411.9439,69759.21989,70125.24728,70789.57284,69958.41918,...,441635,440282,440600,436911,441036,437079,434919,434996,435441,433241
30,Tower Hamlets,E09000030,59865.18995,62318.53353,63938.67686,66233.19383,66432.85846,66232.16372,64692.22672,63472.27558,...,480687,485413,493047,495725,495446,496335,491133,494979,494643,485790
31,Waltham Forest,E09000031,61319.44913,60252.12246,60871.08493,60971.39722,61494.16938,61547.79643,61933.52738,61916.4222,...,524185,524899,516856,514891,509380,514715,508116,511774,502836,506476
32,Wandsworth,E09000032,88559.04381,88641.01678,87124.81523,87026.00225,86518.05945,88114.3351,89830.58934,90560.68078,...,655525,652790,639138,632662,631388,632057,624641,618145,622030,619255
33,Westminster,E09000033,133025.2772,131468.3096,132260.3417,133370.2036,133911.1117,134562.1941,133450.2162,136581.5082,...,986069,975925,1000060,1045668,1057688,1013142,928053,903055,940897,996153
34,Unnamed: 34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Inner London,E13000001,78251.9765,75885.70201,76591.59947,76851.56697,79129.19443,79969.1525,80550.47935,80597.64563,...,635744,630414,628538,625153,627126,620747,614361,611508,614222,617955
36,Outer London,E13000002,72958.79836,72937.88262,72714.53478,72591.92469,72752.99414,73189.39978,73665.90517,73691.12888,...,494247,494917,494189,492217,491206,489462,485098,484277,480726,482178
37,Unnamed: 37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,NORTH EAST,E12000001,42076.35411,42571.98949,42369.72984,42095.8436,43266.45165,42315.34372,43287.74323,41899.05494,...,160629,161084,161652,159123,159969,156638,155151,159809,158187,161034
39,NORTH WEST,E12000002,43958.48001,43925.42289,44434.8681,44267.7796,44223.61973,44112.96432,44109.58764,44193.66583,...,216996,217084,218337,216593,212791,212168,209855,211738,212970,215631
40,YORKS & THE HUMBER,E12000003,44803.42878,44528.80721,45200.46775,45614.34341,44830.98563,45392.63981,45534.99864,45111.45939,...,210738,211056,212108,210349,205589,205740,203302,205012,204662,208867
41,EAST MIDLANDS,E12000004,45544.52227,46051.57066,45383.82395,46124.23045,45878.00396,45679.99539,46037.67312,45922.53585,...,250776,250453,252703,252183,248705,246996,245907,245788,245439,248678
42,WEST MIDLANDS,E12000005,48527.52339,49341.29029,49442.17973,49455.93299,50369.66188,50100.43023,49860.00809,49598.45969,...,252827,254205,253505,252698,251868,253361,243795,245639,248954,250743
43,EAST OF ENGLAND,E12000006,56701.5961,56593.59475,56171.18278,56567.89582,56479.80183,56288.94557,57242.30186,56732.40547,...,358299,357800,360943,357382,353922,355292,350570,347769,346711,351213
44,LONDON,E12000007,74435.76052,72777.93709,73896.84204,74455.28754,75432.02786,75606.24501,75984.24079,75529.34488,...,543873,535999,539606,536577,535789,529715,521321,531282,525327,527979
45,SOUTH EAST,E12000008,64018.87894,63715.02399,64113.60858,64623.22395,64530.36358,65511.008,65224.88465,64851.60429,...,398746,398731,396874,397399,395849,390810,391992,390925,389216,391406
46,SOUTH WEST,E12000009,54705.1579,54356.14843,53583.07667,54786.01938,54698.83831,54420.15939,54265.86368,54365.71495,...,334246,332898,335435,327561,326409,325271,325445,323685,322803,321152
47,Unnamed: 47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48,England,E92000001,53202.77128,53096.1549,53201.2843,53590.8548,53678.24041,53735.15475,53900.60633,53600.31975,...,311604,311100,312288,309949,307375,305859,302772,304102,303671,306447

In [73]:
properties = properties.drop(0)

KeyError: '[0] not found in axis'

**2.4.Transforming the data**

Remember what Wes McKinney said about tidy data? 

You might need to **melt** your DataFrame here.

Remember to make sure your column data types are all correct. Average prices, for example, should be floating point numbers...

**2.5. Cleaning the data (part 3)**

Do we have an equal number of observations in the ID, Average Price, Month, and London Borough columns? Remember that there are only 32 London Boroughs. How many entries do you have in that column? 

Check out the contents of the London Borough column, and if you find null values, get rid of them however you see fit.

**2.6. Visualizing the data**

To visualize the data, why not subset on a particular London Borough? Maybe do a line plot of Month against Average Price?

To limit the number of data points you have, you might want to extract the year from every month value your *Month* column. 

To this end, you *could* apply a ***lambda function***. Your logic could work as follows:
1. look through the `Month` column
2. extract the year from each individual value in that column 
3. store that corresponding year as separate column. 

Whether you go ahead with this is up to you. Just so long as you answer our initial brief: which boroughs of London have seen the greatest house price increase, on average, over the past two decades?

**3. Modeling**

Consider creating a function that will calculate a ratio of house prices, comparing the price of a house in 2018 to the price in 1998.

Consider calling this function create_price_ratio.

You'd want this function to:
1. Take a filter of dfg, specifically where this filter constrains the London_Borough, as an argument. For example, one admissible argument should be: dfg[dfg['London_Borough']=='Camden'].
2. Get the Average Price for that Borough, for the years 1998 and 2018.
4. Calculate the ratio of the Average Price for 1998 divided by the Average Price for 2018.
5. Return that ratio.

Once you've written this function, you ultimately want to use it to iterate through all the unique London_Boroughs and work out the ratio capturing the difference of house prices between 1998 and 2018.

Bear in mind: you don't have to write a function like this if you don't want to. If you can solve the brief otherwise, then great! 

***Hint***: This section should test the skills you acquired in:
- Python Data Science Toolbox - Part One, all modules

### 4. Conclusion
What can you conclude? Type out your conclusion below. 

Look back at your notebook. Think about how you might summarize what you have done, and prepare a quick presentation on it to your mentor at your next meeting. 

We hope you enjoyed this practical project. It should have consolidated your data hygiene and pandas skills by looking at a real-world problem involving just the kind of dataset you might encounter as a budding data scientist. Congratulations, and looking forward to seeing you at the next step in the course!